@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-ticker {
    animation: ticker 30s linear infinite;
  }

  @keyframes ticker {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}